[submodule "nvim/bundle/gist-vim"]
	path = nvim/bundle/gist-vim
	url = git@github.com:mattn/gist-vim.git
[submodule "nvim/bundle/nerdtree"]
	path = nvim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "nvim/bundle/nerdcommenter"]
	path = nvim/bundle/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "nvim/bundle/vim-fugitive"]
	path = nvim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "nvim/bundle/vim-rails"]
	path = nvim/bundle/vim-rails
	url = git@github.com:tpope/vim-rails.git
[submodule "nvim/bundle/ShowTrailingWhitespace"]
	path = nvim/bundle/ShowTrailingWhitespace
	url = git@github.com:vim-scripts/ShowTrailingWhitespace.git
[submodule "nvim/bundle/ctrlp.vim"]
	path = nvim/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "nvim/bundle/minibufexpl.vim"]
	path = nvim/bundle/minibufexpl.vim
	url = git@github.com:fholgado/minibufexpl.vim.git
[submodule "nvim/bundle/rust.vim"]
	path = nvim/bundle/rust.vim
	url = git@github.com:rust-lang/rust.vim.git
